.perfil-capa {
  padding: 10px;
  display: column;
  height: 150px !important;
  /*    background: red; */
  background: rgba(0, 0, 0, 0.5);
}

.perfil-foto-utente {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.perfil-foto-utente .foto {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid #444;
  margin-top: -12vh;
  position: relative;
  z-index: 9999;
  object-fit: cover;
  object-position: center;
}

.menu-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu-nav a {
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
  font-family: var(--mont-reg);
  text-decoration: none;
  margin: auto;
  color: var(--cor-primario);
  background: #ddd !important;
  padding: 2px;
}

.reservas {
  padding: auto;
}

.titulos {
  color: var(--cor-primario);
  font-family: var(--mont);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.nome-doc {
  font-size: 16px !important;
  font-weight: bold;
}

div.icon-acao {
  float: right;
}

div.icon-acao a {
  color: var(--cor-primario);
}

div.icon-acao a.bi-file-pdf-fill {
  color: #444;
}

.modal-eliminar-reserva {
  background-color: rgba(200, 10, 0, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(225, 0, 0, 0.7),
    -2px -2px 4px rgba(225, 0, 0, 0.7);
  border-radius: 0;
}

.modal-eliminar-reserva .modal-title {
  color: var(--cor-secondario);
  font-family: var(--roboto);
}

.icon-img {
  padding: auto;
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
}
.texto-aviso {
  color: var(--cor-clara);
  font-family: var(--roboto);
  padding: 4px;
  text-align: center;
  font-weight: normal;
}
