/* VARIAVEIS */
:root {
  --cor-primario: #991f0c !important;
  --cor-secondario: #ffc745 !important;
  --fundo-primario: #991f0c !important;
  --fundo-secondario: #ffc745 !important;
  --cor-clara: #fbfbfb !important;
  --funda: #fbfbfb !important;
}

/* TEMAS CSS */
.cor-primario {
  color: #991f0c !important;
}

.f-primario {
  background: #991f0c !important;
  color: #fff !important;
}

.f-secundario {
  background: #ffc745 !important;
}

.btn-primario {
  background: hsl(8, 85%, 32%) !important;
  color: #ffc745 !important;
  border: 1px solid hsl(8, 85%, 32%) !important;
}

.btn-secundario {
  background: hsl(42, 100%, 64%) !important;
  color: #991f0c !important;
}

.gradiente-1 {
  background: #991f0c;
  background: -moz-linear-gradient(45deg, #991f0c 0%, #ffc745 100%);
  background: -webkit-linear-gradient(45deg, #991f0c 0%, #ffc745 100%);
  background: linear-gradient(45deg, #991f0c 0%, #ffc745 100%) !important;
}

.gradiente-2 {
  background: rgba(153, 31, 12, 0.7);
  background: -moz-linear-gradient(
    45deg,
    rgba(153, 31, 12, 0.5) 0%,
    rgba(255, 199, 69, 0.7) 100%
  ) !important;
  background: -webkit-linear-gradient(
    45deg,
    rgba(153, 31, 12, 0.5) 0%,
    rgba(255, 199, 69, 0.5) 100%
  ) !important;
  background: linear-gradient(
    45deg,
    rgba(153, 31, 12, 0.5) 0%,
    rgba(255, 199, 69, 0.7) 100%
  ) !important;
}

input {
  box-shadow: none !important;
  border: #991f0c 1.5px solid !important;
}

input:focus {
  box-shadow: #991f0c !important;
  border: #991f0c 1.5px solid !important;
}

.border-p {
  border: 1px solid #991f0c !important;
}
